 .details {
    width: 80%;
    
    flex: 0.2;
    border-radius: 2px;
    padding:2px;
    padding-bottom: 1px;
    margin-bottom: 50px;
    margin-top: 5px;
   position: relative;
   left:10%;
  }
  
  .details H3 {
 
    width: 90%;
    color: aliceblue;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(88, 85, 85);
  }

  

  .content-table {
    display: table;
    font-family: "Quicksand", sans-serif;
    border-collapse: collapse;
    width: 90%;
    /* margin: 25px 0; */
    font-size: 1.2em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-bottom: 10px;
 
  }
  
  .content-table thead tr {
    background-color: #1060bb;
    color: white;
    text-align: left;
    font-weight: bold;
  }
  
  .content-table th,
  .content-table td {
    padding: 12px 15px;
  }
  
  .content-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3c7;
  }
  
  .content-table tbody tr:nth-of-type(odd) {
    background-color: #f3f3f38f;
  }
  
  .content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }